.text-center
  text-align: center;

.item-center
  display: flex;
  justify-content: center;
  align-items: center;

.item-left
  display: flex;
  justify-content: flex-end;
  align-items: center;

.items-right
  align-items: center;
  display: flex;
  justify-content: flex-end;
