 /***** COLORS ********/
Silver = #D1D1D1 //rgb(189, 195, 199)
Clouds = #ecf0f1 //rgb(236, 240, 241)
Blue = #2196F3
Green = #4CAF50
Text = #464646
Dark = #1F2227
Red = #eb4d4b
/***** Clases para color de fondo *****/
.bg-white
  background-color white
.bg-clouds
  background Clouds
.bg-silver
  background-color Silver
.bg-blue
  background-color Blue
.bg-green
	background-color Green
.bg-dark
	background-color Dark
/***** Clases para color de fuente *****/
.fc-white
  color white
.fc-silver
  color Silver
.fc-blue
  color Blue
.fc-green
  color Green
.fc-text
  color Text
.fc-dark
  color Dark
.fc-red
  color Red
