.pd-container
  display: flex;
  flex-wrap: wrap;
  width: 100%
  margin: 0 auto;
  justify-content: center;

.pd-item
  margin: 0 auto;
  width: 100%
  position: relative;

.pd-item-flex
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%
  position: relative;
  
.pd-flex
  display flex
/***
 TAMAÑOS DE COLUMNAS BASE SIN TAMAÑOS RESPONSIVOS

***/
  .pd-item.col-20, .col-20
    width: 100%
  .pd-item.col-19, .col-19
    width: 95%
  .pd-item.col-18, .col-18
    width: 90%
  .pd-item.col-17, .col-17
    width: 85%
  .pd-item.col-16, .col-16
    width: 80%
  .pd-item.col-15, .col-15
    width: 75%
  .pd-item.col-14, .col-14
    width: 70%
  .pd-item.col-13, .col-13
    width: 65%
  .pd-item.col-12,.col-12
    width: 60%
  .pd-item.col-11, .col-11
    width: 55%
  .pd-item.col-10, .col-10
    width: 50%
  .pd-item.col-9, .col-9
    width: 45%
  .pd-item.col-8, .col-8
    width: 40%
  .pd-item.col-7, .col-7
    width: 35%
  .pd-item.col-6, .col-6
    width: 30%
  .pd-item.col-5, .col-5
    width: 25%
  .pd-item.col-4, .col-4
    width: 20%
  .pd-item.col-3, .col-3
    width: 15%
  .pd-item.col-2, .col-2
    width: 10%
  .pd-item.col-1, .col-1
    width: 5%

  .pd-item.col-1-3, .col-1-3
    width: 33.333333333%
  .pd-item.col-2-3, .col-2-3
    width: 66.666666667%
  .pd-item.col-3-3, .col-3-3
    width: 100%

  .pd-item.col-1-6, .col-1-6
    width: 16.666666667%
  .pd-item.col-2-6, .col-2-6
    width: 33.333333333
  .pd-item.col-3-6, .col-3-6
    width: 50%
  .pd-item.col-4-6, .col-4-6
    width: 66.666666667%
  .pd-item.col-5-6, .col-5-6
    width: 83.333333333%
  .pd-item.col-6-6, .col-6-6
    width: 100%

  .pd-item.col-1-8, .col-1-8
    width: 12.5%
  .pd-item.col-2-8, .col-2-8
    width: 25%
  .pd-item.col-3-8,  .col-3-8
    width: 37.5
  .pd-item.col-4-8, .col-4-8
    width: 50%
  .pd-item.col-5-8, .col-5-8
    width: 62.5
  .pd-item.col-6-8, .col-6-8
    width: 75%
  .pd-item.col-7-8, .col-7-8
    width: 87.5%
  .pd-item.col-8-8, .col-8-8
    width: 100%



/***

  TAMAÑOS DE COLUMNAS PARA MEDIDA SMALL (sm)
  ABARCA DESDE LOS  480px

****/
@media all and (min-width:480px)
  .pd-item.col-sm-20, .col-sm-20
    width: 100%
  .pd-item.col-sm-19, .col-sm-19
    width: 95%
  .pd-item.col-sm-18, .col-sm-18
    width: 90%
  .pd-item.col-sm-17, .col-sm-17
    width: 85%
  .pd-item.col-sm-16, .col-sm-16
    width: 80%
  .pd-item.col-sm-15, .col-sm-15
    width: 75%
  .pd-item.col-sm-14, .col-sm-14
    width: 70%
  .pd-item.col-sm-13, .col-sm-13
    width: 65%
  .pd-item.col-sm-12,.col-sm-12
    width: 60%
  .pd-item.col-sm-11, .col-sm-11
    width: 55%
  .pd-item.col-sm-10, .col-sm-10
    width: 50%
  .pd-item.col-sm-9, .col-sm-9
    width: 45%
  .pd-item.col-sm-8, .col-sm-8
    width: 40%
  .pd-item.col-sm-7, .col-sm-7
    width: 35%
  .pd-item.col-sm-6, .col-sm-6
    width: 30%
  .pd-item.col-sm-5, .col-sm-5
    width: 25%
  .pd-item.col-sm-4, .col-sm-4
    width: 20%
  .pd-item.col-sm-3, .col-sm-3
    width: 15%
  .pd-item.col-sm-2, .col-sm-2
    width: 10%
  .pd-item.col-sm-1, .col-sm-1
    width: 5%

  .pd-item.col-sm-1-3, .col-sm-1-3
    width: 33.333333333%
  .pd-item.col-sm-2-3, .col-sm-2-3
    width: 66.666666667%
  .pd-item.col-sm-3-3, .col-sm-3-3
    width: 100%

  .pd-item.col-sm-1-6, .col-sm-1-6
    width: 16.666666667%
  .pd-item.col-sm-2-6, .col-sm-2-6
    width: 33.333333333
  .pd-item.col-sm-3-6, .col-sm-3-6
    width: 50%
  .pd-item.col-sm-4-6, .col-sm-4-6
    width: 66.666666667%
  .pd-item.col-sm-5-6, .col-sm-5-6
    width: 83.333333333%
  .pd-item.col-sm-6-6, .col-sm-6-6
    width: 100%

  .pd-item.col-sm-1-8, .col-sm-1-8
    width: 12.5%
  .pd-item.col-sm-2-8, .col-sm-2-8
    width: 25%
  .pd-item.col-sm-3-8,  .col-sm-3-8
    width: 37.5
  .pd-item.col-sm-4-8, .col-sm-4-8
    width: 50%
  .pd-item.col-sm-5-8, .col-sm-5-8
    width: 62.5
  .pd-item.col-sm-6-8, .col-sm-6-8
    width: 75%
  .pd-item.col-sm-7-8, .col-sm-7-8
    width: 87.5%
  .pd-item.col-sm-8-8, .col-sm-8-8
    width: 100%

/***

  TAMAÑOS DE COLUMNAS PARA MEDIDA MEDIUM (md)
  ABARCA DESDE LOS  768px

****/
@media all and (min-width:768px)
  .pd-item.col-md-20, .col-md-20
    width: 100%
  .pd-item.col-md-19, .col-md-19
    width: 95%
  .pd-item.col-md-18, .col-md-18
    width: 90%
  .pd-item.col-md-17, .col-md-17
    width: 85%
  .pd-item.col-md-16, .col-md-16
    width: 80%
  .pd-item.col-md-15, .col-md-15
    width: 75%
  .pd-item.col-md-14, .col-md-14
    width: 70%
  .pd-item.col-md-13, .col-md-13
    width: 65%
  .pd-item.col-md-12,.col-md-12
    width: 60%
  .pd-item.col-md-11, .col-md-11
    width: 55%
  .pd-item.col-md-10, .col-md-10
    width: 50%
  .pd-item.col-md-9, .col-md-9
    width: 45%
  .pd-item.col-md-8, .col-md-8
    width: 40%
  .pd-item.col-md-7, .col-md-7
    width: 35%
  .pd-item.col-md-6, .col-md-6
    width: 30%
  .pd-item.col-md-5, .col-md-5
    width: 25%
  .pd-item.col-md-4, .col-md-4
    width: 20%
  .pd-item.col-md-3, .col-md-3
    width: 15%
  .pd-item.col-md-2, .col-md-2
    width: 10%
  .pd-item.col-md-1, .col-md-1
    width: 5%

  .pd-item.col-md-1-3, .col-md-1-3
    width: 33.333333333%
  .pd-item.col-md-2-3, .col-md-2-3
    width: 66.666666667%
  .pd-item.col-md-3-3, .col-md-3-3
    width: 100%

  .pd-item.col-md-1-6, .col-md-1-6
    width: 16.666666667%
  .pd-item.col-md-2-6, .col-md-2-6
    width: 33.333333333
  .pd-item.col-md-3-6, .col-md-3-6
    width: 50%
  .pd-item.col-md-4-6, .col-md-4-6
    width: 66.666666667%
  .pd-item.col-md-5-6, .col-md-5-6
    width: 83.333333333%
  .pd-item.col-md-6-6, .col-md-6-6
    width: 100%

  .pd-item.col-md-1-8, .col-md-1-8
    width: 12.5%
  .pd-item.col-md-2-8, .col-md-2-8
    width: 25%
  .pd-item.col-md-3-8,  .col-md-3-8
    width: 37.5
  .pd-item.col-md-4-8, .col-md-4-8
    width: 50%
  .pd-item.col-md-5-8, .col-md-5-8
    width: 62.5
  .pd-item.col-md-6-8, .col-md-6-8
    width: 75%
  .pd-item.col-md-7-8, .col-md-7-8
    width: 87.5%
  .pd-item.col-md-8-8, .col-md-8-8
    width: 100%

/***

  TAMAÑOS DE COLUMNAS PARA MEDIDA LARGE (lg)
  ABARCA DESDE LOS  1024px

****/
@media all and (min-width:1024px)
  .pd-item.col-lg-20, .col-lg-20
    width: 100%
  .pd-item.col-lg-19, .col-lg-19
    width: 95%
  .pd-item.col-lg-18, .col-lg-18
    width: 90%
  .pd-item.col-lg-17, .col-lg-17
    width: 85%
  .pd-item.col-lg-16, .col-lg-16
    width: 80%
  .pd-item.col-lg-15, .col-lg-15
    width: 75%
  .pd-item.col-lg-14, .col-lg-14
    width: 70%
  .pd-item.col-lg-13, .col-lg-13
    width: 65%
  .pd-item.col-lg-12,.col-lg-12
    width: 60%
  .pd-item.col-lg-11, .col-lg-11
    width: 55%
  .pd-item.col-lg-10, .col-lg-10
    width: 50%
  .pd-item.col-lg-9, .col-lg-9
    width: 45%
  .pd-item.col-lg-8, .col-lg-8
    width: 40%
  .pd-item.col-lg-7, .col-lg-7
    width: 35%
  .pd-item.col-lg-6, .col-lg-6
    width: 30%
  .pd-item.col-lg-5, .col-lg-5
    width: 25%
  .pd-item.col-lg-4, .col-lg-4
    width: 20%
  .pd-item.col-lg-3, .col-lg-3
    width: 15%
  .pd-item.col-lg-2, .col-lg-2
    width: 10%
  .pd-item.col-lg-1, .col-lg-1
    width: 5%

  .pd-item.col-lg-1-3, .col-lg-1-3
    width: 33.333333333%
  .pd-item.col-lg-2-3, .col-lg-2-3
    width: 66.666666667%
  .pd-item.col-lg-3-3, .col-lg-3-3
    width: 100%

  .pd-item.col-lg-1-6, .col-lg-1-6
    width: 16.666666667%
  .pd-item.col-lg-2-6, .col-lg-2-6
    width: 33.333333333
  .pd-item.col-lg-3-6, .col-lg-3-6
    width: 50%
  .pd-item.col-lg-4-6, .col-lg-4-6
    width: 66.666666667%
  .pd-item.col-lg-5-6, .col-lg-5-6
    width: 83.333333333%
  .pd-item.col-lg-6-6, .col-lg-6-6
    width: 100%

  .pd-item.col-lg-1-8, .col-lg-1-8
    width: 12.5%
  .pd-item.col-lg-2-8, .col-lg-2-8
    width: 25%
  .pd-item.col-lg-3-8,  .col-lg-3-8
    width: 37.5
  .pd-item.col-lg-4-8, .col-lg-4-8
    width: 50%
  .pd-item.col-lg-5-8, .col-lg-5-8
    width: 62.5
  .pd-item.col-lg-6-8, .col-lg-6-8
    width: 75%
  .pd-item.col-lg-7-8, .col-lg-7-8
    width: 87.5%
  .pd-item.col-lg-8-8, .col-lg-8-8
    width: 100%


/***

  TAMAÑOS DE COLUMNAS PARA MEDIDA EXTRA LARGE (xl)
  ABARCA DESDE LOS  1440px

****/
@media all and (min-width:1440px)
  .pd-item.col-xl-20, .col-xl-20
    width: 100%
  .pd-item.col-xl-19, .col-xl-19
    width: 95%
  .pd-item.col-xl-18, .col-xl-18
    width: 90%
  .pd-item.col-xl-17, .col-xl-17
    width: 85%
  .pd-item.col-xl-16, .col-xl-16
    width: 80%
  .pd-item.col-xl-15, .col-xl-15
    width: 75%
  .pd-item.col-xl-14, .col-xl-14
    width: 70%
  .pd-item.col-xl-13, .col-xl-13
    width: 65%
  .pd-item.col-xl-12,.col-xl-12
    width: 60%
  .pd-item.col-xl-11, .col-xl-11
    width: 55%
  .pd-item.col-xl-10, .col-xl-10
    width: 50%
  .pd-item.col-xl-9, .col-xl-9
    width: 45%
  .pd-item.col-xl-8, .col-xl-8
    width: 40%
  .pd-item.col-xl-7, .col-xl-7
    width: 35%
  .pd-item.col-xl-6, .col-xl-6
    width: 30%
  .pd-item.col-xl-5, .col-xl-5
    width: 25%
  .pd-item.col-xl-4, .col-xl-4
    width: 20%
  .pd-item.col-xl-3, .col-xl-3
    width: 15%
  .pd-item.col-xl-2, .col-xl-2
    width: 10%
  .pd-item.col-xl-1, .col-xl-1
    width: 5%

  .pd-item.col-xl-1-3, .col-xl-1-3
    width: 33.333333333%
  .pd-item.col-xl-2-3, .col-xl-2-3
    width: 66.666666667%
  .pd-item.col-xl-3-3, .col-xl-3-3
    width: 100%

  .pd-item.col-xl-1-6, .col-xl-1-6
    width: 16.666666667%
  .pd-item.col-xl-2-6, .col-xl-2-6
    width: 33.333333333
  .pd-item.col-xl-3-6, .col-xl-3-6
    width: 50%
  .pd-item.col-xl-4-6, .col-xl-4-6
    width: 66.666666667%
  .pd-item.col-xl-5-6, .col-xl-5-6
    width: 83.333333333%
  .pd-item.col-xl-6-6, .col-xl-6-6
    width: 100%

  .pd-item.col-xl-1-8, .col-xl-1-8
    width: 12.5%
  .pd-item.col-xl-2-8, .col-xl-2-8
    width: 25%
  .pd-item.col-xl-3-8,  .col-xl-3-8
    width: 37.5
  .pd-item.col-xl-4-8, .col-xl-4-8
    width: 50%
  .pd-item.col-xl-5-8, .col-xl-5-8
    width: 62.5
  .pd-item.col-xl-6-8, .col-xl-6-8
    width: 75%
  .pd-item.col-xl-7-8, .col-xl-7-8
    width: 87.5%
  .pd-item.col-xl-8-8, .col-xl-8-8
    width: 100%
