<% @title = "Ernesto Valenzuela | Developer"%>
<article class="fc-white">
    <section class="text-center xl-padding-x-gb">
        <h1 class="big-title-light-gb xl-margin-x-gb">ERNESTO VALENZUELA</h1>
        <h2 class="lg-title-light-gb">FULL STACK DEVELOPER</h2>
    </section>
</article>
<article class="pd-container xl-margin-x-gb xl-padding-x-gb fc-white">
    <section class="col-12 border-dotted-x xl-margin-x-gb lg-padding-x-gb border-color-white-a">
       <h1 class="text-center col-20 fc-red">PERFIL</h1>
    </section>
    <section class="pd-container col-12 xl-padding-x-gb xl-margin-x-gb">
       <div class="col-13">
          <div class="col-18 pd-container">
              <div class="md-title-light-gb col-7">
                  Ubicación.
              </div>
              <div class="md-title-bold-gb col-13">
                  Durango, Dgo. México.
              </div>
          </div>
          <div class="col-18 pd-container xl-margin-x-gb">
              <div class="md-title-light-gb col-7">
                  Sobre mi.
              </div>
              <div class="md-title-bold-gb col-13">
                  Hola mi nombre es Ernesto Valenzuela, soy apasionado a las tecnologías y todo lo referente con diseño y desarrollo.
              </div>
          </div>
          <div class="col-18 pd-container">
              <div class="md-title-light-gb col-7">
                  Email.
              </div>
              <div class="md-title-bold-gb col-13">
                  <a class="fc-red" href="mailto:hola@netodev.me">hola@netodev.me</a>
              </div>
          </div>
          <div class="col-18 pd-container xl-margin-x-gb">
              <div class="md-title-light-gb col-7 lg-margin-x-gb ">
                  Social.
              </div>
              <div class="md-title-bold-gb col-13 pd-item-flex">
                  <a class="color-tq lg-margin-gb-gb " href="https://twitter.com/neto_dev">twitter</a>
                  <a class="color-wt lg-margin-gb-gb " href="https://www.instagram.com/neto.dev/">instagram</a>
                  <a class="color-az lg-margin-gb-gb " href="https://www.youtube.com/c/CodePandaDev">youtube</a>
                  <a class="color-em lg-margin-gb-gb " href="skype:+526181093476?call">skype</a>
              </div>
          </div>
       </div>
       <div class="col-7">
           <figure class="col-18 profile md-border-gb-gb border-color-white">
               <%= image_tag "profile.jpg", class: "full-image"%>
           </figure>
       </div>
    </section>
</article>

<article class="pd-container xl-margin-x-gb xl-padding-x-gb fc-white">
    <section class="col-12 border-dotted-x xl-margin-x-gb lg-padding-x-gb border-color-white-a">
       <h1 class="text-center col-20 fc-red">EXPERIENCIA</h1>
    </section>
    <section class="pd-container col-12 xl-padding-x-gb xl-margin-x-gb">
       <div class="col-20">
          <div class="col-18 pd-container align-top">
              <div class="md-title-light-gb col-7">
                  <p>Enero 2018</p>
                  <p>Actual</p>
              </div>
              <div class="col-13">
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Sargento Robot</span>
                      <span class="col-9 color-tq sm-title-light-gb lg-margin-lf-gb">Full Stack & Co-Founder</span>
                  </div>
                  <p class="xl-padding-x-gb">
                    Co-Fundador de Sargento Robot, casa de desarrollo en la cual nos dedicamos a realizar software de alta calidad orientado a cubrir necesidades básicas de la comunidad. Desarrollamos software y hardware buscando siempre que solucione problemas y no creen nuevos a nuestros clientes. Mis actividades principales son las de desarrollar backend, frontend y soy encargado del departamento de hardware.
                  </p>
              </div>
          </div>
       </div>
       <div class="col-20">
          <div class="col-18 pd-container align-top">
              <div class="md-title-light-gb col-7">
                  <p>Octubre 2017</p>
                  <p>Actual</p>
              </div>
              <div class="col-13">
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">4 Plus 1 Creative</span>
                      <span class="col-9 color-tq sm-title-light-gb lg-margin-lf-gb">Full Stack & Project Manager</span>
                  </div>
                  <p class="xl-padding-x-gb">
Líder de proyecto y backend del departamento de Apps. Mis tareas principales son las de desarrollar todo el backend de las apps móviles, analizar todo lo referente a las aplicaciones, asignación de tareas a los miembros de mi equipo actualmente 2, contacto y entregas a clientes. Encargado de validar e implementar las tecnologías a implementar en los proyectos.                  </p>
              </div>
          </div>
       </div>
       <div class="col-20">
          <div class="col-18 pd-container align-top">
              <div class="md-title-light-gb col-7">
                  <p>Noviembre 2014</p>
                  <p>Septiembre 2017</p>
              </div>
              <div class="col-13">
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Plif.mx</span>
                      <span class="col-9 color-tq sm-title-light-gb lg-margin-lf-gb">Full Stack & Project Manager</span>
                  </div>
                  <p class="xl-padding-x-gb">
Líder general del proyecto y encargado de toda la planificación técnica de la empresa. Encargado de un grupo de 6 programadores y 2 diseñadores. Encargado de desarrollar módulos complejos de la aplicación, de servidores y todo el backend de la aplicación.                  </p>
              </div>
          </div>
       </div>
    </section>
</article>

<article class="pd-container xl-margin-x-gb xl-padding-x-gb fc-white">
    <section class="col-12 border-dotted-x xl-margin-x-gb lg-padding-x-gb border-color-white-a">
       <h1 class="text-center col-20 fc-red">ALGO MÁS</h1>
    </section>
    <section class="pd-container col-12 xl-padding-x-gb xl-margin-x-gb">
       <div class="col-20 lg-margin-x-gb">
          <div class="col-18 pd-container align-top">
              <div class="md-title-light-gb col-7">
                  <p>Tecnologias</p>
                  <p>Lenguajes</p>
              </div>
              <div class="col-13">
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Go Lang</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio/Alto | 1 año</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Python</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo/Intermedio | 2 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Ruby</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio | 4 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Javascript</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio/Alto | 5 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">PHP</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Ext. Intermedio | 3 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">C++</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo | 1 año</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">C#</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo | 1/2 año</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Java</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio | 2 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Kotlin</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo | 1/2 año</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Swift</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo | 1/2 año</span>
                  </div>
                   <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Dart</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio | 1 año</span>
                  </div>
              </div>
          </div>
       </div>
       <div class="col-20 lg-margin-x-gb">
          <div class="col-18 pd-container align-top">
              <div class="md-title-light-gb col-7">
                  <p>Tecnologias</p>
                  <p>Librerías/Frameworks</p>
              </div>
              <div class="col-13">
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Echov2 Golang</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio/Alto | 1 año</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Flask</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo/Intermedio | 1 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Ruby on Rails</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio | 4 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Sinatra</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio | 1 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">React.js</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Ext. Intermedio | 1 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Reac Native</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio | 2 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Electron.js</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo | 1/2 año</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Vue.js</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio | 1 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Flutter</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo | 1/2 año</span>
                  </div>
              </div>
          </div>
       </div>
       <div class="col-20 lg-margin-x-gb">
          <div class="col-18 pd-container align-top">
              <div class="md-title-light-gb col-7">
                  <p>Tecnologias</p>
                  <p>Bases de Datos</p>
              </div>
              <div class="col-13">
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Mysql</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio/Alto | 9 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">MongoDB</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo/Intermedio | 2 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Redis</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo | 1 año</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Realm</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio | 2 años</span>
                  </div>
          </div>
          </div>
          <div class="col-20 lg-margin-x-gb">
          <div class="col-18 pd-container align-top">
              <div class="md-title-light-gb col-7">
                  <p>Tecnologias</p>
                  <p>Herramientas</p>
              </div>
              <div class="col-13">
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Sketch</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Intermedio/Alto | 3 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Ilustrador</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo/Intermedio | 3 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Photoshop</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo/Intermedio | 3 años</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Unity 3D</span>
                      <span class="col-9 color-pr sm-title-light-gb lg-margin-lf-gb">Exp. Bajo | 1/2 año</span>
                  </div>
          </div>
       </div>
        <div class="col-20 lg-margin-x-gb">
          <div class="col-18 pd-container align-top">
              <div class="md-title-light-gb col-7">
                  <p>Tecnologias</p>
                  <p>Editor</p>
              </div>
              <div class="col-13">
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Vim</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Android Studio</span>
                  </div>
                  <div class"pd-item-flex col-20">
                      <span class="col-9 md-title-bold-gb ">Xcode</span>
                  </div>
          </div>
       </div>

    </section>
</article>
